<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area">
        <div class="status-upload">
          <form ng-submit="submit()" name="post" >
            <textarea placeholder="write something nice :)"  name="content" ng-model="content" ></textarea>
            <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i>Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br/><br/><br/><br/>
<div class="container">
 <div ng-repeat="post in posts">
  <div class="row">
    <div class="col-md-10">
      <div class="[ panel panel-default ] panel-google-plus">
        <div class="panel-heading">
          <h3>{{post.author}}</h3>
          <h5><span> {{post.postedon}}</span> </h5>
          <button ng-show="validuser(post.author)" ng-click="deletepost(post)">Delete</button>
          <button ng-show="validuser(post.author)" ng-click="editpost(post)">Edit</button>
        </div>
        <div class="panel-body">
          <p ng-hide="editmode">{{post.content}}</p>
          <textarea name="editposttext" ng-model="editposttext" placeholder="{{post.content}}" ng-show="editmode"></textarea>
          <button  ng-click="editpost(post,editposttext)" ng-show="editmode">submit</button>
          <button  ng-click="cancelEdit()" ng-show="editmode">cancel</button>
        </div>
        <div class="panel-footer">
          <div ng-repeat="comment in getcomments(post._id)">
            <div class="panel-heading">
              <h6 class="text-muted">{{comment.author}}</h6>
              <h5 class="text-muted"><span> {{comment.postedon}}</span> </h5>
            </div>
            <div class="panel-body">
              <p ng-hide="editmode" class="text-info">{{comment.commentcontent}}</p>

              <textarea name="editcommenttext" ng-model="editcommenttext" placeholder="{{comment.commentcontent}}" ng-show="editmode"></textarea>
              <button  ng-click="editcomment(comment,editcommenttext)" ng-show="editmode">submit</button>
              <button  ng-click="cancelEdit()" ng-show="editmode">cancel</button>

              <button ng-show="validuser(post.author)" ng-click="deletecomment(comment)">Delete</button>
              <button ng-show="validuser(post.author)" ng-click="editcomment(comment)">Edit</button>
            </div>
          </div>
          </div>
        <div class="panel panel-body">
          <form ng-submit="comment(post._id,commentcontent)" name="postcomment" class="form-signin" novalidate="">
          <div class="panel-google-plus-textarea">
          <textarea name="commenttext" ng-model="commentcontent"   placeholder="add a comment"></textarea>
            <button type="submit">Post </button>
          </div>
            </form>
        </div>
      </div>
      </div>
   </div>
 </div>
</div>
